$spacing-xxx-small: 0.2rem;
$spacing-xx-small: 0.4rem;
$spacing-x-small: 0.8rem;
$spacing-small: 1.6rem;
$spacing-medium: 2.4rem;
$spacing-large: 3.2rem;
$spacing-x-large: 4rem;
$spacing-xx-large: 4.8rem;
$spacing-xxx-large: 5.6rem;
$spacing-none: 0  ;
$color-orange-kredfeed: #f57c00;
$color-orange-light: #f5a049;
$color-red-error: #d60f0f;
$color-gray-black: #555;
$color-gray-dark: #5c5c5c;
$color-gray-link: #616161;
$color-gray-light: #b1b1b1;
$font-size-x-small: 1rem;
$font-size-small: 1.2rem;
$font-size-medium: 1.4rem;
$font-size-large: 1.6rem;
$font-size-x-large: 2.4rem;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$border-solid-1: 1px solid;
$border-solid-2: 2px solid;
$border-radius-mini: 2px;
$border-radius: 4px;
$border-radius-high: 8px;
$border-radius-top: 4px 4px 0 0;
$border-radius-right: 0 4px 4px 0;
$border-radius-down: 0 0 4px 4px;
$border-radius-left: 4px 0 0 4px;
